<tr>
    {% for key, value in pub_columns.items() %}
        {% if value %}
            {% set attr_id = key+':'+pub['id']|string %}
            {% if key == 'authors' %}
                <td id="{{attr_id}}">{{ pub[key] | to_gost(not pub.isen()) | join(', ') }}</td>
            {% elif key == 'pub_type' %}
                <td id="{{attr_id}}" class="editable-cell">{{ pub[key].name }}</td>
            {% elif key == 'id' %}
                <td id="{{attr_id}}">{{ pub[key] }}</td>
            {% else %}
                <td id="{{attr_id}}" class="editable-cell">{{ pub[key] }}</td>
            {% endif %}
        {% endif %}    
    {% endfor %}
</tr>
