{% extends "base.html" %}

{% block app_content %}

<form>
    <div class="form-row">
        <div class="col-sm-6">
            <div>
            <label for="input-authors-raw">Authors:</label>
            <input type="text" class="form-control" id="input-authors-raw" aria-describedby="basic-addon3" required>
            <div class="invalid-feedback">
                Empty authors
            </div>
            </div>
            <div>
            <label for="input-title" class="mt-3">Title:</label>
            <input type="text" class="form-control" id="input-title" aria-describedby="basic-addon3" required>
            <div class="invalid-feedback">
                Empty title
            </div>
            </div>
            <div class="btn-toolbar mt-3" role="toolbar">
                <button type="submit" class="btn btn-primary btn-lg mr-3" id='parse'>Parse</button>
                <button type="button" class="btn btn-success btn-lg" id='add'>+Add</button>
            </div>
        </div>
        <div class="col-sm-4">
            <label for="input-journal">Journal:</label>
            <input type="text" class="form-control" id="input-journal" aria-describedby="basic-addon3" required>
            <div class="invalid-feedback">
                Empty journal/book/issue
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Volume</span>
                        </div>
                        <input type="text" class="form-control" id="input-volume" placeholder="..." aria-label="..." aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">Issue</span>
                        </div>
                        <input type="text" class="form-control" id="input-issue" placeholder="..." aria-label="..." aria-describedby="basic-addon2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Pages</span>
                        </div>
                        <input type="text" class="form-control" id="input-pages" placeholder="..." aria-label="..." aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon4">Year</span>
                        </div>
                        <input type="text" class="form-control" id="input-year" placeholder="..." aria-label="..." aria-describedby="basic-addon4" required>
                        <div class="invalid-feedback">
                            Year cannot be Null
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon5">DOI</span>
                        </div>
                        <input type="text" class="form-control" id="input-doi" placeholder="..." aria-label="..." aria-describedby="basic-addon5">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <label class="float-left">Publication Type:</label>
            <select class="custom-select" id="input-pub-type" size="8" required>
                <option hidden disabled selected value> -- select an option -- </option>
                {% for pt in pub_type  %}
                <option value="{{ pt.value }}">{{ pt.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Select Publication Type
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Input area</span>
            </div>
            <textarea class="form-control" id="input-area" aria-label="Input area"></textarea>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div id="alert-warning" class="alert alert-dark fade show invisible">
        <button type="button" class="close" id="close-alert">&times;</button>
        <span id='warnings-message'>Yeeep</span>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/add.page.js') }}"></script>
{% endblock %}
