{% extends "base.html" %}

{% block app_content %}
<input class="form-control" id="author-filter" type="text" placeholder="Search..">
<table class="table table-hover table-bordered" cellspacing="0" width="100%">
  <thead class="thead-dark ">
    <tr>
      <th>ID</th>
      <th>Main ID</th>
      <th>Main</th>
      <th>Lastname</th>
      <th>Name</th>
      <th>Patronymic</th>
    </tr>
  </thead>
  <tbody id="dt-authors">
      {% for author in authors %}
      {% include '_author.html' %}
      {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/authors.page.js') }}"></script>
{% endblock %}
