{% extends "base.html" %}

{% block app_content %}
    <h1> Greetings, user, on RLib! </h1>
    <hr>
    <form>
        <div class="form-group">
          <label>Authors</label>
          <select class="custom-select" id="inputauthors" size="10" multiple>
            <option hidden disabled selected value> -- select an option -- </option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">One</option>
            <option value="5">Two</option>
            <option value="6">Three</option>
            <option value="7">One</option>
            <option value="8">Two</option>
            <option value="9">Three</option>
          </select>
        </div>
    </form>
    <hr>
    <table id="dt-basic-checkbox" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th scope="th-sm">#</th>
                <th scope="th-sm">Authors</th>
                <th scope="th-sm">Title</th>
                <th scope="th-sm">Journal</th>
                <th scope="th-sm">Year</th>
            </tr>
        </thead>
        <tbody>
            {% for pub in publications %}
                {% include '_publication.html' %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
