{% extends "base.html" %}

{% block app_content %}
<!-- Modal -->
<div class="modal fade" id="column-selector-modal" tabindex="-1" role="dialog" aria-labelledby="columnselector" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-25" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="column-selector-header">Column Selector</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="column-selector-list">
                    {% for key, value in pub_columns.items() %}
                    <div class="form-check">
                        {% if value %}
                        <input type="checkbox" class="form-check-input" value="{{key}}" id="colsel-{{key}}" autocomplete="off" checked>
                        {% else %}
                        <input type="checkbox" class="form-check-input" value="{{key}}" id="colsel-{{key}}" autocomplete="off">
                        {% endif %}
                        <label class="form-check-label" for="colsel-{{key}}">{{key}}</label>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                <h5>Add new column</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button id="add-new-column" class="btn btn-outline-secondary" type="button">Add</button>
                    </div>
                    <input type="text" id="new-column-input" class="form-control" placeholder="unique column name" aria-label="" aria-describedby="basic-addon1">
                    <div class="invalid-feedback">Column already exists.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="column-selector-update">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-columns-modal" tabindex="-1" role="dialog" aria-labelledby="Delete Columns" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Publications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Are you shure want to delete selected publications?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delete-columns-btn">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- Search Area -->
<div id="search-div" class="row">
    <div class="col-sm-2">
        <form id="form-authors">
            <div class="form-group">
                <div class="float-left">
                    Authors
                    <div class="custom-control custom-switch custom-control-inline mx-1" data-toggle="tooltip" title="if it's checked, selected authors will be in the same publication" data-delay="500">
                        <input type="checkbox" class="custom-control-input" id="sw-intersect" value="intersect" name="sw-intersect">
                        <label class="custom-control-label" for="sw-intersect">intersect</label>
                    </div>
                </div>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-light" type="button" id="drop-authors"><i class="fas fa-times"></i></button>
                </div>
                <select class="custom-select" id="input-authors" size="5" multiple>
                    <option hidden disabled selected value> -- select an option -- </option>
                    {% for au in lab_authors %}
                    <option value="{{ au.id }}" autocomplete="off">{{ au }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="col-sm-2">
        <form id="form-pub-type">
            <div class="form-group">
                <span class="float-left">Type</span>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-light" type="button" id="drop-pub-type"><i class="fas fa-times"></i></button>
                </div>
                <select class="custom-select" id="input-pub-type" size="5" multiple>
                    <option hidden disabled selected value> -- select an option -- </option>
                    {% for pt in pub_type  %}
                    <option value="{{ pt.value }}">{{ pt.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="col-sm-1">
        <form id="form-pub-year">
            <div class="form-group">
                <span class="float-left">Year(s):</span>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-light" type="button" id="drop-pub-year">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <select class="custom-select" id="input-pub-year" size="5" multiple>
                    <option hidden disabled selected value> -- select an option -- </option>
                    {% for y in years %}
                    <option value="{{ y[0] }}">{{ y[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="form-group">
            <form id="form-title">
                <div class="form-group">
                    <span class="float-left">Title:</span>
                    <div class="float-right">
                        <button class="btn btn-sm btn-outline-light" type="button" id="drop-title"><i class="fas fa-times"></i></button>
                    </div>
                    <input type="text" class="form-control" id="input-title" aria-describedby="basic-addon3">
                </div>
            </form>
        </div>
        <div class="form-group">
            <form id="form-qurtile">
                <div class="form-group">
                    <span class="float-left mr-2">Quartile:</span>
                    <div class="float-right">
                        <button class="btn btn-sm btn-outline-light" type="button" id="drop-quartile"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="custom-control custom-switch custom-control-inline mr-1">
                        <input type="checkbox" class="custom-control-input" id="sw-q1" value="q1" name="quartile">
                        <label class="custom-control-label" for="sw-q1">Q1</label>
                    </div>
                    <div class="custom-control custom-switch custom-control-inline mr-1">
                        <input type="checkbox" class="custom-control-input" id="sw-q2" value="q2" name="quartile">
                        <label class="custom-control-label" for="sw-q2">Q2</label>
                    </div>
                    <div class="custom-control custom-switch custom-control-inline mr-1">
                        <input type="checkbox" class="custom-control-input" id="sw-q3" value="q3" name="quartile">
                        <label class="custom-control-label" for="sw-q3">Q3</label>
                    </div>
                    <div class="custom-control custom-switch custom-control-inline mr-1">
                        <input type="checkbox" class="custom-control-input" id="sw-q4" value="q4" name="quartile">
                        <label class="custom-control-label" for="sw-q4">Q4</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <form id="form-db">
                <div class="form-group">
                    <span class="float-left mr-2">Database:</span>
                    <div class="float-right">
                        <button class="btn btn-sm btn-outline-light" type="button" id="drop-db"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="custom-control custom-switch custom-control-inline mr-1">
                        <input type="checkbox" class="custom-control-input" id="sw-db-wos" value="wos" name="db-indexing">
                        <label class="custom-control-label" for="sw-db-wos">WoS</label>
                    </div>
                    <div class="custom-control custom-switch custom-control-inline mr-1">
                        <input type="checkbox" class="custom-control-input" id="sw-db-scopus" value="scopus" name="db-indexing">
                        <label class="custom-control-label" for="sw-db-scopus">Scopus</label>
                    </div>
                    <div class="custom-control custom-switch custom-control-inline mr-1">
                        <input type="checkbox" class="custom-control-input" id="sw-db-risc" value="risc" name="db-indexing">
                        <label class="custom-control-label" for="sw-db-risc">RISC</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3">
        <form id="form-journal">
            <div class="form-group">
                <span class="float-left">Journal</span>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-light" type="button" id="drop-journal"><i class="fas fa-times"></i></button>
                </div>
                <select class="custom-select" id="input-journal" size="5" multiple>
                    <option hidden disabled selected value> -- select an option -- </option>
                    {% for j in journals %}
                    <option value="{{ j.id }}">{{ j.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
</div>
<div class="clearfix">
    {% include 'export_panel.html' %}
    <div class="btn-toolbar float-right" role="toolbar" aria-label="Editor panel">
        <button id="delete-cols-toolbar-btn" type="button" class="btn btn-danger mr-1" data-toggle="modal" data-target="#delete-columns-modal" style="display:none;">
            Delete
        </button>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#column-selector-modal">
            Columns
        </button>
    </div>
</div>
<div id="table-container" class="row mt-2 mx-1">
    {% include 'table_publication_nav.html' %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script>
var pub_columns  = {{pub_columns|jsonPresOrd|safe}};
var html_pub_dd = `
<div class="dropdown" id="pub_type_dd">
  <button type="button" id="pub_type_dd_btn" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    curr-pub
  </button>
  <div class="dropdown-menu" aria-labelledby="pub_type_dd_btn">
    {% for pt in pub_type %}
    <a class="dropdown-item context-pub-type-selector" href='#'>{{pt.name}}</a>
    {% endfor%}
  </div>
</div>
`
</script>
<script src="{{ url_for('static', filename='js/index.page.js') }}"></script>
{% endblock %}
