{% extends "base.html" %}

{% block app_content %}
<form class="form-inline py-2 mb-2">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control" id="journal-filter" type="text" placeholder="Search..">
    </div>
</form>
<table class="table table-hover table-bordered" cellspacing="0" width="100%">
    <thead class="thead-dark ">
        <tr class="sticky-top">
            <th>
                <div class="d-flex align-content-center">
                    <div class="w-100">ID</div>
                    <div class="d-flex flex-column flex-shrink-1">
                        <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-id" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                        <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-id" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex align-content-center">
                    <div class="w-100">Title</div>
                    <div class="d-flex flex-column flex-shrink-1">
                        <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-title" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                        <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-title" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex align-content-center">
                    <div class="w-100">WOS</div>
                    <div class="d-flex flex-column flex-shrink-1">
                        <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-wos" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                        <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-wos" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex align-content-center">
                    <div class="w-100">Scopus</div>
                    <div class="d-flex flex-column flex-shrink-1">
                        <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-scp" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                        <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-scp" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex align-content-center">
                    <div class="w-100">RISC</div>
                    <div class="d-flex flex-column flex-shrink-1">
                        <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-risc" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                        <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-risc" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex align-content-center">
                    <div class="w-100">Quartile SJR</div>
                    <div class="d-flex flex-column flex-shrink-1">
                        <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-sjr" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                        <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-sjr" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex align-content-center">
                    <div class="w-100">Quartile JCR</div>
                    <div class="d-flex flex-column flex-shrink-1">
                        <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-jcr" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                        <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-jcr" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="d-flex align-content-center">
                    <div class="w-100">Total Publications</div>
                    <div class="d-flex flex-column flex-shrink-1">
                        <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-pb" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                        <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-pb" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody id="dt-journals" >
        {% for journal in journals %}
        {% include '_journal.html' %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/journals.page.js') }}"></script>
{% endblock %}

