<table id="dt-basic-checkbox" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th scope="th-sm">#</th>
            <th scope="th-sm">Authors</th>
            <th scope="th-sm">Title</th>
            <th scope="th-sm">Journal</th>
            <th scope="th-sm">Year</th>
        </tr>
    </thead>
    <tbody>
        {% for pub in publications %}
        {% include '_publication.html' %}
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        {% if prev_url %}
        <li class="page-item">
            <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for nav_btn in nav_btns %}
            {% if curr_page == nav_btn[1] %}
            <li class="page-item active"><a class="page-link" href="{{ nav_btn[0]}}">{{ nav_btn[1] }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ nav_btn[0]}}">{{ nav_btn[1] }}</a></li>
            {% endif %}
        {% endfor %}
        {% if next_url %}
        <li class="page-item">
            <a class="page-link" href="{{ next_url }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

