<table class="table table-hover table-bordered" cellspacing="0" width="100%">
    <thead class="thead-dark">
        <tr class="sticky-top">
            {% for key, value in pub_columns.items() %}
                {% if value %}
                    <th scope="th-sm">
                        <div class="d-flex align-content-center">
                            <div class="w-100">{{ key }}</div>
                            <div class="d-flex flex-column flex-shrink-1 pl-1">
                                <div class="my-n1 mt-n2"><a class="text-light" id="sort-a-{{ key}}" href="#"><small><i class="fas fa-chevron-up"></i></small></a></div>
                                <div class="my-n1 mb-n2"><a class="text-light" id="sort-d-{{ key}}" href="#"><small><i class="fas fa-chevron-down"></i></small></a></div>
                            </div>
                        </div>
                    </th>
                {% endif %}    
            {% endfor %}
        </tr>
    </thead>
    <tbody id="dt-pubs">
        {% for pub in publications %}
        {% include '_publication.html' %}
        {% endfor %}
    </tbody>
</table>

<div class="container-fluid">
    <div class="row justify-content-between">
        <div>Showing {{pages_info['from']}} to {{pages_info['to']}} of {{pages_info['total']}} entries</div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if prev_url %}
                <li class="page-item">
                    <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for nav_btn in nav_btns %}
                {% if curr_page == nav_btn[1] %}
                <li class="page-item active"><a class="page-link" href="{{ nav_btn[0]}}">{{ nav_btn[1] }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ nav_btn[0]}}">{{ nav_btn[1] }}</a></li>
                {% endif %}
                {% endfor %}
                {% if next_url %}
                <li class="page-item">
                    <a class="page-link" href="{{ next_url }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
